@font-face {
    font-family: 'MerryChristmasFlake';
    src: url('img/MerryChristmasFlake.ttf') format('truetype');
}


.hlavni_logo {
    width: 75%;
}

.header {
    background-color: #d0e2f2;
    padding: 0;

}

table {
    max-width: 200px;

}

th,
td {
    background-color: transparent !important;
}



main h1 {
    font-family: MerryChristmasFlake;
    font-size: 9rem;

}

.logo__color {
    color: #365875;
}



.route {
    background-color: #BDDBD9;


}


.wave {
    background-color: white;

}


.photo {
    background-color: #AFEEEE;
    min-height: 300px;
}



footer {
    background-color: #365875;
}

footer img {
    width: 50%;
    height: auto;

}

.active {
    font-weight: bold;

}


.menu_zavody {

    background-color: #365875;
    font-size: small;
    color: white;

}





@media screen and (max-width: 991px) {
    .podnadpis {
        font-size: 2rem !important;

    }


}


@media screen and (max-width: 790px) {
    .podnadpis {
        font-size: 1.3rem !important;

    }

    .hlavni_logo {
        width: 50%;
    }



    #countdown {
        font-size: 1rem;
    }

    iframe {
        width: 392px;
        height: 189px;

    }

}



@media screen and (max-width: 410px) {

    .wrap {
        flex-direction: column;
        text-align: center;


    }

    #countdown {
        display: none;
    }

    iframe {
        width: 280px;
        height: 157px;

    }

}